footer.footer
  .container.clearfix
    .footer-links-container
      .footer-column.footer-logo
        img.logo(src='./img/logo-extended-black.svg', alt='Wecargo')

      .footer-column
        h3.column-title RRSS
        ul.column-links
          li
            a.link(href='#') Facebook
          li
            a.link(href='#') Instagram
          li
            a.link(href='#') Twitter

      .footer-column
        h3.column-title Soporte
        ul.column-links
          li
            a.link(href='#') Términos y condiciones
          li
            a.link(href='#') Privacidad
          li
            a.link(href='#') Ayuda
            
      .footer-column
        h3.column-title Nosotros
        ul.column-links
          li
            a.link(href='#') Blog
          li
            a.link(href='#') Trabaja con nosotros
          li
            a.link(href='#') Prensa
