header.header
  .container.clearfix
    a.header-company-logo(href='landing.html')
      img.logo.mobile(src='./img/logo-white.svg', alt='wecargo')
      img.logo.tablet(src='./img/logo-white.svg', alt='wecargo')
      img.logo.desktop(src='./img/logo-extended-horizontal.svg', alt='wecargo')
    .header-menu
      .header-menu-items
        a.item.telephone(href='tel:900 876 456')
          img.icon-telephone(src='./img/icon-telephone.svg', alt='900 876 456')
        a.item.btn.btn-ghost.login(href='signin-signup-desktop.html') Iniciar sesión
        .item.open-menu.icon-hamburger
      include menu