.menu-page
  .menu-header

    .container.clearfix
      a.menu-company-logo(href='landing.html')
        img.logo(src='./img/logo-black.svg', alt='wecargo')
      
      a.telephone(href='tel:900 876 456')
        img.icon-telephone(src='./img/icon-telephone.svg', alt='900 876 456')
      .close-menu.icon-cross

  .container
    ul.menu-page-items
      li.item
        a(href='landing.html') Home
      li.item
        a(href='#') Empresas
      li.item
        a(href='#') Ventajas
      li.item
        a(href='#') Contacto
    
    ul.menu-user
      li
        a.btn.btn-ghost(href='#') Iniciar sesión
      li
        a.btn(href='#') Registrarse
