body, html {
  font-family: 'HelveticaNu';
  font-weight: 200;
  position: relative;
  @include transition(left 0.3s ease-in-out);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: 'Quicksand';
  line-height: 1.5;
  letter-spacing: 0.5;
}

h1, .h1 {
  font-weight: 200;
  font-size: 21px;

  @include breakpoint('tablet') {
    font-size: 32px;
  }

  @include breakpoint('desktop') {
    font-size: 42px;
  }
}

h2, .h2 {
  font-weight: 600;
  font-size: 22px;

  @include breakpoint('tablet') {
    font-size: 35px;
    font-weight: 400;
  }
}

h3, .h3 {
  font-weight: 400;
  font-size: 16px;
}

p {
  font-family: 'HelveticaNu';
  font-size: 14px;
  font-weight: 200;
}

b, strong {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.elipsis {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  background: map-get($colors, green-light);
  color: white;
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1;
  text-align: center;
  text-decoration: none;
  border-radius: 28px;
  border: none;
  padding: 15px 40px;
  width: 100%;
  cursor: pointer;
  display: block;

  @include breakpoint('tablet') {
    width: auto; 
  }

  &.btn-ghost {
    background: transparent;
    color: map-get($colors, green-light);
    border: 1px solid map-get($colors, green-light);
  }
}

.btn-recurrent {
  margin: 15px 0 20px;
  font-size: 15px;
  font-weight: 600;
  color: map-get($colors, green-dark);
  display: block;
  text-decoration: none;
}

.recent-address, .recent-persons {
  a {
    padding-left: 35px;
    padding-bottom: 20px;
    display: block;
    text-decoration: none;
    color: map-get($colors, grey-dark);
    font-size: 14px;
  }
}

.section-title {
  padding: 0;
  margin: 0;
  text-align: center;

  @include breakpoint('tablet') {
    padding: 90px 30px 60px;
  }

  h2 {
    display: inline-block;
    padding: 30px 0 25px;
    position: relative;
    line-height: 1.5;

    &:after {
      position: absolute;
      bottom: 10px;
      left: 0;
      background: map-get($colors, grey-dark);
      content: '';
      display: none;
      height: 2px;
      width: 60px;

      @include breakpoint('tablet') {
        display: block;
      }
    }
  }
  
  .description {
    margin-top: -15px;
    line-height: 1.5;
  }
}

.charging-data-title {

  h2 {
    font-family: 'HelveticaNu';
    font-weight: 400;
    font-size: 16px;
    color: map-get($colors, green-light);
    margin: 15px 0;  
  }
}

.section-title-box {

  h3 {
    display: inline-block;
    padding: 0 0 25px;
    margin-bottom: 10px;
    position: relative;
    line-height: 1.5;
    color: map-get($colors, green-light);
    font-size: 26px;

    &:after {
      position: absolute;
      bottom: 10px;
      left: 0;
      background: map-get($colors, green-light);
      content: '';
      display: none;
      height: 2px;
      width: 60px;

      @include breakpoint('tablet') {
        display: block;
      }
    }
  }
}

.container {
  padding: 25px 20px;
  margin: 0 auto;
  max-width: 992px;
  width: 100%;
}

.form-container {
  position: relative;
  margin-top: 15px;

  .form-btn {
    display: block;
    opacity: 0;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: text;
  }

  .form-icon {
    position: absolute;
    top: 24px;
    left: 25px;
    font-size: 20px;
    color: map-get($colors, grey-dark);
    transition: color .3s ease-in-out;
  }

  input, textarea {
    font-family: 'HelveticaNu';
    font-weight: 200;
    padding: 25px 20px 25px 55px;
    transition: background .3s ease-in-out, color .3s ease-in-out;
  } 
}

.input-complete-check {
  input:not(:placeholder-shown) {
    background: map-get($colors, green-light);
    color: map-get($colors, green-dark);
    border-color: map-get($colors, green-light);

    +span { 
      color: map-get($colors, green-dark);
    }
  }
}

.btn-select{
  position: relative;
  margin-top: 15px;
  padding: 25px 20px 25px 55px;
  color: map-get($colors, grey-dark);
  border: 1px solid map-get($colors, grey-dark);
  cursor: pointer;
  min-height: 68px;

  .icon {
    position: absolute;
    top: 22px;
    left: 25px;
    font-size: 20px;
    color: map-get($colors, grey-dark);
    transition: color .3s ease-in-out;
  }
}

.btn-check {
  background: map-get($colors, green-light);
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  text-align: center;
  margin: 0 auto 50px;
  cursor: pointer;

  &:before {
    font-family: 'icomoon';
    display: block;
    content: "\e64c";
    line-height: 2;
    color: white;
    font-size: 24px;
  }

  @include breakpoint('tablet') {
    background: transparent;
    border-radius: 30px; 
    border: 1px solid map-get($colors, green-light);
    width: 250px;
    height: auto;

    &:before { 
      font-family: 'Quicksand';
      content: 'Hecho!';
      font-weight: 400;
      font-size: 16px;
      color: map-get($colors, green-light);
      line-height: 3.5;
    }
  }
}


input, textarea {
  font-size: 16px;
  padding: 25px 20px;
  width: 100%;
  border: 1px map-get($colors, grey-dark) solid;
}

.or {
  text-align: center;
  padding: 15px 0;
}

.contact-us-fixed {
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 22px;
  padding: 25px;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: map-get($colors, green-dark);
  display: none;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.2);

  @include breakpoint('desktop') {
    display: block;
  }

  img {
    width: 65px;
  }
  
  .contact-us-description {
    color: white;
    font-weight: 400;
    line-height: 1.5;
  }

  .contact-us-telephone {
    color: map-get($colors, green-light);
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgb(250, 255, 255) !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(map-get($colors, grey-dark), .4);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(map-get($colors, grey-dark), .4);
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(map-get($colors, grey-dark), .4);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(map-get($colors, grey-dark), .4);
}

.mobile {
  display: block;

  @include breakpoint('tablet') {
    display: none;
  }
}

.tablet {
display: none;

  @include breakpoint('tablet'){
    display: block;
  }
  @include breakpoint('desktop'){
    display: none;
  }
}

.dekstop {
  display: none;

  @include breakpoint('desktop'){
    display: block;
  }
}

.pop-vehicle-image {
  position: relative;
  width: 100vw;
  height: 100vh;

  .horizontal-image {
    @include center-align;
    width: 80%;
    height: auto;
  }

  .vertical-image {
    @include center-align;
    width: auto;
    height: 80%;
  }
}

.clearfix {
  @include clearfix;
}