.dropdown {
  max-height: 0;
  overflow: hidden;
  @include transition(max-height 0.5s ease-in-out);
  
  &.dropdown-opened {
    max-height: 500px;
  }
}

.btn-dropdown {

  .icon {
    @include transition(transform 0.3s ease-in-out);
    display: inline-block;
    margin: 0 10px;
  }
  
  &.btn-dropdown-opened {
    
    .icon {
      @include transform(rotate(180deg));
    }
  }
}