@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qcsst');
  src:  url('../fonts/icomoon.eot?qcsst#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qcsst') format('truetype'),
    url('../fonts/icomoon.woff?qcsst') format('woff'),
    url('../fonts/icomoon.svg?qcsst#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 200;
  src: url('../fonts/QuicksandLight.eot');
  src: url('../fonts/QuicksandLight.eot') format('embedded-opentype'),
       url('../fonts/QuicksandLight.woff2') format('woff2'),
       url('../fonts/QuicksandLight.woff') format('woff'),
       url('../fonts/QuicksandLight.ttf') format('truetype'),
       url('../fonts/QuicksandLight.svg#QuicksandLight') format('svg');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  src: url('../fonts/QuicksandRegular.eot');
  src: url('../fonts/QuicksandRegular.eot') format('embedded-opentype'),
       url('../fonts/QuicksandRegular.woff2') format('woff2'),
       url('../fonts/QuicksandRegular.woff') format('woff'),
       url('../fonts/QuicksandRegular.ttf') format('truetype'),
       url('../fonts/QuicksandRegular.svg#QuicksandRegular') format('svg');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 600;
  src: url('../fonts/QuicksandBold.eot');
  src: url('../fonts/QuicksandBold.eot') format('embedded-opentype'),
       url('../fonts/QuicksandBold.woff2') format('woff2'),
       url('../fonts/QuicksandBold.woff') format('woff'),
       url('../fonts/QuicksandBold.ttf') format('truetype'),
       url('../fonts/QuicksandBold.svg#QuicksandBold') format('svg');
}

@font-face {
  font-family: 'HelveticaNu';

  font-weight: 200;
  src: url('../fonts/HelveticaNeueLt.eot');
  src: url('../fonts/HelveticaNeueLt.eot') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLt.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLt.woff') format('woff'),
       url('../fonts/HelveticaNeueLt.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLt.svg#HelveticaNeueLt') format('svg');
}

@font-face {
  font-family: 'HelveticaNu';
  font-weight: 400;
  src: url('../fonts/HelveticaNeueMed.eot');
  src: url('../fonts/HelveticaNeueMed.eot') format('embedded-opentype'),
       url('../fonts/HelveticaNeueMed.woff2') format('woff2'),
       url('../fonts/HelveticaNeueMed.woff') format('woff'),
       url('../fonts/HelveticaNeueMed.ttf') format('truetype'),
       url('../fonts/HelveticaNeueMed.svg#HelveticaNeueMed') format('svg');
}

@font-face {
  font-family: 'HelveticaNu';
  font-weight: 600;
  src: url('../fonts/HelveticaNeueBd.eot');
  src: url('../fonts/HelveticaNeueBd.eot') format('embedded-opentype'),
       url('../fonts/HelveticaNeueBd.woff2') format('woff2'),
       url('../fonts/HelveticaNeueBd.woff') format('woff'),
       url('../fonts/HelveticaNeueBd.ttf') format('truetype'),
       url('../fonts/HelveticaNeueBd.svg#HelveticaNeueBd') format('svg');
}
