// -------------- Overlay

.overlay {
  position: fixed;
  background: white;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 65px 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  @include transition(opacity 0.3s ease-in-out);

  &.overlay-opened {
    opacity: 1;
    overflow-y: auto;
    pointer-events: all;
    left: 0;
  }

  .close-overlay {
    position: absolute;
    font-size: 26px;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }

  .charging-data-title {
    text-align: left;
    h2 {
      font-family: 'Quicksand';
      font-weight: 400;    
    } 
  }
}

.overlay-container {
  max-width: 540px;
  margin: 0 auto;
}