// -------------- Overlay

.overlay {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 55px 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  @include transition(opacity 0.3s ease-in-out);

  &.overlay-opened {
    opacity: 1;

    pointer-events: all;
  }

  .close-overlay {
    position: absolute;
    font-size: 26px;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }
}