.charging-data-page {

  // ----------- General

  
  .charging-header {
    position: position;
    background: map-get($colors, grey-light);
  }
  .data-title-desktop {
    display: none;
    color: white;
    background: map-get($colors, green-light);
    
    .container {
      padding: 15px 0;
    } 

    h2 {
      font-family: 'Quicksand';
      font-weight: 600;
    }

    @include breakpoint('desktop') {
      display: block;
    }

  }

  .charging-data-content {
    width: 100%;
    max-width: 100%;
    min-height: 0;

    @include breakpoint('desktop') {
      max-width: 565px;
      min-height: 565px;
    }
  }

  .header-steps {
    margin: 0 -20px;

    @include breakpoint('desktop') {
      margin: 20px -20px 0;
    }

    .header-steps-item {
      width: 25%;
      float: left;

      a {
        font-family: 'Quicksand';
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: #BCBCBB;
        border-bottom: 1px solid #BCBCBB;
        padding: 10px 0;
        margin: 0 0 25px;

        &.current {
          margin-top: -20px;
          color: map-get($colors, green-light);
          border-bottom: 1px solid map-get($colors, green-light);
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }

  .charging-data-nav {
    @include clearfix;
    
    a {
      font-family: 'Quicksand';
      width: 95px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      color: map-get($colors, green-light);
      padding: 15px 0;
      margin: 40px 0 0;
      border-top: 1px solid map-get($colors, green-light);
    }
    
    .prev {
      float: left;
      margin-left: -20px;
    }

    .next {
      float: right;
      margin-right: -20px;
    }

    .icon {
      vertical-align: middle;
      padding: 0 5px;
    }
  }

  // ----------- 01

  .charging-vehicle {
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    min-height: 0;
    margin: 0 auto;

    @include breakpoint('desktop') {
      padding: 0 20px;
      max-width: 992px;
      min-height: 565px;
    }
  }

  .form-vehicle {
    max-width: auto;

    @include breakpoint('desktop') {
      max-width: 565px;
    }
  }

  .btn-vehicle {
    font-family: 'Quicksand';
    background-color: map-get($colors, green-light);
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 150px;
    cursor: pointer;

    .btn-vehicle-column {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:nth-child(2) {
        background-color: map-get($colors, green-dark);
      }
    }

    .icon-vehicle {
      width: 55px; 
      filter: brightness(0);
      opacity: 0.4;
    }

    .vehicle-name {
      border-top: 1px solid map-get($colors, green-dark);
      color: map-get($colors, green-dark);
      margin: 10px 0;
      padding-top: 10px;
      font-weight: 400;
    }

    .vehicle-details {
      font-family: 'HelveticaNu';
      font-weight: 2  00;
      font-size: 13px;
      color: map-get($colors, green-dark);
      text-align: center;
    }

    .vehicle-price {
      font-size: 45px;
      font-weight: 400;
      color: white;
    }

    .vehicle-action {
      font-family: 'HelveticaNu';
      font-weight: 600;
      font-size: 13px;
      color: map-get($colors, green-light);
      letter-spacing: 1;
      line-height: 1.5;
      text-align: center;
      margin-top: 5px;
    }
  }
  
  .select-vehicle-slider {
    padding:  15px 0 0;
    height: 600px;

    @include breakpoint('desktop') {
      padding: 0;
    }
  }

  .select-vehicle-slider-nav {
    bottom: 0;
    position: relative;
  }

  // ----------- 02

  .map-control {
    top: -40px;
  }

  .contact-people {
    margin: 15px 0 30px;
    font-size: 15px;
    font-weight: 200;
    color: map-get($colors, green-dark);

    .contact {
      padding-left: 10px;
    }
    span:last-child {
      padding-left: 10px;
    }

  }


  // ----------- 03

  .date-container, .time-container {
    max-width: 320px;
  }

  .date-container {
    margin: 30px auto 50px;
  }

  .time-container {
    margin: 0px auto 50px;
  }


  // ----------- 04

  .special-needs {

    .special-list {

      .item-special {
        padding: 25px 0;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        

        &:last-child {
          border: none;
        }

        .icon {
          @include transition(color 0.3s ease-in-out, transform 0.3s ease-in-out);
          display: inline-block;
        }

        .description {
          @include transition(color 0.3s ease-in-out);
          padding-left: 25px;
        }

        &.current {


          .icon {
            color: map-get($colors, green-light);
            @include transform(rotate(90deg));
          }

          .description {
            color: map-get($colors, green-light);
          }
        }
      }
    }

    .phone {
      margin: 30px auto;
      text-align: center;

      .image-phone {
        width: 45px;
        vertical-align: middle;
      }
    }
  }
}