.charging-data-page {

  // ----------- General

  
  .charging-header {
    position: position;
    background: map-get($colors, grey-light);
  }

  .header-steps {
    margin: 0 -20px;

    .header-steps-item {
      width: 25%;
      float: left;

      a {
        font-family: 'Quicksand';
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: #BCBCBB;
        border-bottom: 1px solid #BCBCBB;
        padding: 10px 0;
        margin: 0 0 25px;

        &.current {
          margin-top: -20px;
          color: map-get($colors, green-light);
          border-bottom: 1px solid map-get($colors, green-light);
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }

  .charging-summary {
    position: relative;
  }

  .summary-menu {
    color: map-get($colors, green-dark);
    margin-bottom: 8px;

    .summary-price-model {
      float: left;

      .price {
        font-size: 30px;
        font-weight: 400;
      }
    }

    .btn-summary {
      float: right;
      padding-top: 10px;
      font-size: 12px;
      text-transform: uppercase;
      font-family: 'Quicksand';
      font-weight: 600;
    }

    a {
      text-decoration: none;
      color: map-get($colors, green-dark);
    }
  }

  .summary-details {
    
    .detail {
      padding: 25px 0;

      &.detail-place {
        position: relative;
        border-top: 1px solid map-get($colors, green-light);

        .from {
          position: absolute;
          left: 35px;
          top: 26px;
        }

        .to {
          position: absolute;
          left: 35px;
          top: 80px;
        }
      }

      &.detail-contact {
        padding-top: 0;
        border-bottom: 1px solid map-get($colors, green-light);
      }

      &.detail-time {
        
        .date {
          float: left;
          width: 50%;
        }

        .hour {
          float: left;
          width: 50%;
        }
      }
    }

    .icon-vehicle {
      width: 55px;  
      margin-right: 15px;
  
    }

    .icon-place {
      width: 18px;
    }

    .icon {
      font-size: 20px;
      color: map-get($colors, green-light);
      padding-right: 16px;
      vertical-align: middle;
    }
  }

  .charging-data-title {

    h2 {
      font-family: 'HelveticaNu';
      font-weight: 400;
      font-size: 18px;
      color: map-get($colors, green-light);
      margin: 15px 0;  
    }
  }

  .charging-data-nav {
    @include clearfix;
    
    a {
      font-family: 'Quicksand';
      width: 95px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      color: map-get($colors, green-light);
      padding: 15px 0;
      margin: 40px 0 0;
      border-top: 1px solid map-get($colors, green-light);
    }
    
    .prev {
      float: left;
      margin-left: -20px;
    }

    .next {
      float: right;
      margin-right: -20px;
    }
  }

  // ----------- 01

  .btn-vehicle {
    font-family: 'Quicksand';
    background-color: map-get($colors, green-light);
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 150px;
    cursor: pointer;

    .btn-vehicle-column {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:nth-child(2) {
        background-color: map-get($colors, green-dark);
      }
    }

    .icon-vehicle {
      width: 55px; 
      filter: brightness(0);
      opacity: 0.4;
    }

    .vehicle-name {
      border-top: 1px solid map-get($colors, green-dark);
      color: map-get($colors, green-dark);
      margin: 10px 0;
      padding-top: 10px;
      font-weight: 400;
    }

    .vehicle-details {
      font-family: 'HelveticaNu';
      font-weight: 2  00;
      font-size: 13px;
      color: map-get($colors, green-dark);
      text-align: center;
    }

    .vehicle-price {
      font-size: 45px;
      font-weight: 400;
      color: white;
    }

    .vehicle-action {
      font-family: 'HelveticaNu';
      font-weight: 600;
      font-size: 13px;
      color: map-get($colors, green-light);
      letter-spacing: 1;
      line-height: 1.5;
      text-align: center;
      margin-top: 5px;
    }
  }

  // ----------- 02

  .map-control {
    top: -40px;
  }

  #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .contact-people {
    margin: 15px 0 30px;
    font-size: 15px;
    font-weight: 600;
    color: map-get($colors, green-dark);

    .contact {
      padding-left: 10px;
    }
    span:last-child {
      padding-left: 10px;
    }

  }

  .btn-recurrent {
    margin: 15px 0 20px;
    font-size: 15px;
    font-weight: 600;
    color: map-get($colors, green-dark);
    display: block;
    text-decoration: none;
  }

  .recent-address, .recent-persons {
    a {
      padding-left: 35px;
      padding-bottom: 20px;
      display: block;
      text-decoration: none;
      color: map-get($colors, grey-dark);
      font-size: 14px;
    }
  }

  .container-contact {
    .form-container{
      width: 50%;
      float: left;
      margin-top: 0;

      &:first-child {
        padding-right: 5px;
      }
      &:last-child {
        padding-left: 5px;
      }
    }
  }


  // ----------- 03

  .date-container, .time-container {
    max-width: 320px;
  }

  .date-container {
    margin: 30px auto 50px;
  }

  .time-container {
    margin: 0px auto 50px;
  }


  // ----------- 04

  .special-needs {

    .special-list {

      .item-special {
        padding: 25px 0;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        

        &:last-child {
          border: none;
        }

        .icon {
          @include transition(color 0.3s ease-in-out, transform 0.3s ease-in-out);
          display: inline-block;
        }

        .description {
          @include transition(color 0.3s ease-in-out);
          padding-left: 25px;
        }

        &.current {


          .icon {
            color: map-get($colors, green-light);
            @include transform(rotate(90deg));
          }

          .description {
            color: map-get($colors, green-light);
          }
        }
      }
    }

    .phone {
      margin: 30px auto;
      text-align: center;

      .image-phone {
        width: 45px;
        vertical-align: middle;
      }
    }
  }
}