.landing-page {

  .menu-page {

    .menu-page-items {

      .item.contact {
        display: inline-block;
      }
    }
  }
  // -----------------  Envía algo.

  .send-something-section {
    color: white;
    background: map-get($colors, grey-dark);
    position: relative;
    padding-bottom: 0;

    @include breakpoint('tablet') { 
      background: transparent url('../img/landing-top-bg@2x.jpg') center center no-repeat;
      background-size: cover;
      padding-bottom: 67px;
    }

    h1 {
      width: 285px;
      text-align: center;
      margin: 0 auto;
      line-height: 1.5;
      padding: 0;

      @include breakpoint('tablet') {
        @include horizontal-align;
        top: 210px;
        margin-top: -40px;
        width: 100%;
        max-width: 878px;
        line-height: 1.2;
        padding: 0 30px ;
      }

      @include breakpoint('desktop') {
        top: 190px;
      }
    }

    .send-something-form {
      width: 100%;
      margin-top: 30px;
      margin: 0 auto;
      float: none;

      @include breakpoint('tablet') {
        background: rgba(map-get($colors, grey-dark), 0.9);
        padding: 170px 35px 35px;
        margin: 100px 0;
      }
      @include breakpoint('desktop') {
        width: 1128px;
        margin: 100px 0 100px -88px;
      }
    }
    
    .form-container {
      float: none;
      margin-top: 15px;
      padding: 0;
      width: 100%;

      @include breakpoint('tablet') {
        float: left;
        margin-top: 0;
        padding-right: 15px;
        width: 30%;
      }

      @include breakpoint('desktop') {
        width: 34%;
      }

      input {
        padding: 25px 20px 25px 55px;

        @include breakpoint('tablet') {
          padding: 50px 20px 50px 55px;
        }
      }

      .form-icon {
        top: 24px;

        @include breakpoint('tablet') {
          top: 50px;
        }
      }
    }

    .vehicle {
      
      h4 {
        margin: 25px 0;
        display: block;

        @include breakpoint('tablet') {
          display: none;
        }
      }
    }

    .btn-vehicle {
      font-family: 'Quicksand';
      background-color: map-get($colors, green-light);
      display: flex;
      align-items: stretch;
      flex-wrap: nowrap;
      height: 150px;
      cursor: pointer;

      @include breakpoint('tablet') {
        height: 120px;
      }

      .btn-vehicle-column {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:first-child {
          flex-direction: column;
          padding: 0 25px;

          @include breakpoint('tablet') {
            flex-direction: row;
            padding: 0 15px;
          }
        }

        &:nth-child(2) {
          background-color: map-get($colors, green-dark);
        }
      }

      .vehicle-btn-details {
        text-align: center
      }

      .icon-vehicle {
        width: 55px; 
        filter: brightness(0);
        opacity: 0.4;
        margin-right: 0;

        @include breakpoint('tablet') {
          margin-right: 10px;
        }
      }

      .vehicle-name {
        border-top: 1px solid map-get($colors, green-dark);
        border-bottom: none;
        color: map-get($colors, green-dark);
        margin: 10px 0;
        padding: 10px 0 0;
        font-weight: 400;
        
        @include breakpoint('tablet') {
          border-top:none;
          border-bottom: 1px solid map-get($colors, green-dark);
          margin-top: 0;
          padding-top: 0;
          padding-bottom: 15px;
          font-weight: 600;
        }
      }

      .vehicle-details {
        font-family: 'HelveticaNu';
        font-weight: 2  00;
        font-size: 13px;
        color: map-get($colors, green-dark);
        text-align: center;
      }

      .vehicle-price {
        font-size: 45px;
        font-weight: 400;
      }

      .vehicle-action {
        font-family: 'HelveticaNu';
        font-weight: 600;
        font-size: 13px;
        color: map-get($colors, green-light);
        letter-spacing: 1;
        line-height: 1.5;
        text-align: center;
        margin-top: 5px;
      }
    }

    .call-us {
      text-align: center;
      margin-top: 25px;
      padding: 0;
      position: relative;
      background: none;

      @include breakpoint('tablet') {
        position: absolute;
        width: 100%;
        background: map-get($colors, green-light);
        left: 0;
        bottom: 0;
        padding: 15px 0;
      }

      .icon-telephone {
        width: 38px;
        vertical-align: middle;
      }

      .call-us-brief {
        vertical-align: middle;
        font-size: 16px;
        font-family: 'Quicksand';

        @include breakpoint('tablet') {
          font-size: 20px; 
        }
      }
    }
    
    .btn-purchase {
      margin-top: 25px;
      width: 100%;

      @include breakpoint('tablet') {
        margin: 25px auto 0;
        width: 100%;
        max-width: 300px;
      
      }    
    }
  }

  // ----------------- Steps

  .steps-section {
    position: relative;

    @include breakpoint('tablet') {
    }

    .mobile-line {
      position: absolute;
      left: 50%;
      top: 80px;
      bottom: 80px;
      margin-left: -100px;
      width: 1px;
      background: map-get($colors, green-light);
      display: block;

      @include breakpoint('tablet') {
        display: none;
      }
    }

    .steps-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      @include breakpoint('tablet') {
        flex-direction: row;
        justify-content: center;
      }
    }

    .step {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      margin: 25px 0;

      @include breakpoint('tablet') {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .step-image {
      width: 78px;
      margin: 0;

      @include breakpoint('tablet') {
        width: 105px;
        margin: 15px 0 15px 40px;
      }

      &.step-time {
        width: 88px;
        margin-left: -11px;

        @include breakpoint('tablet') {
          width: 115px;
          margin-left: 40px;
        }
      }
    }

    .step-description {
      padding-left: 30px;
      max-width: 200px;

      h2 {
        font-weight: 400;
        color: map-get($colors, green-light); 
        font-size: 22px;

        @include breakpoint('tablet') {
          font-size: 26px;
        }
      }
      
      p {
        line-height: 1.5;
        margin-top: 5px;
      }
    }
  }


  // ----------------- Por qué Wecargo

  .video-section {
    position: relative;
    // height: 56.25vw;

    .section-title {
      display: none;
      padding-top: 25px;

      @include breakpoint('tablet') {
        display: block;
      }
    }
  }

  .video-container {
    width: 100%;
    height: 56.25vw;
    z-index: 0;
    //pointer-events: none;
    overflow: hidden;

    iframe {
      width: 100vw;
      height: 56.25vw; // Height 16:9 aspect ratio 56.25 ||  Width given a 16:9 aspect ratio 177.77 
      position: absolute;
      top: 0x;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // ----------------- Qué nos diferencia

  .values-section {
    background: map-get($colors, grey-light);
    padding: 0;

    @include breakpoint('tablet') {
      padding-bottom: 35px;
    }

    .values-container {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      padding: 0 20px;
      margin: 0 auto;
      max-width: 1560px;

      @include breakpoint('tablet') {
        flex-direction: row;
      }
    }

    .value {
      background: transparent;
      position: relative;
      margin: 0 0 15px;

      @include breakpoint('tablet') {
        background: white;
        margin: 0 15px 15px;
      }
        
      .value-image {
        height: 140px;

        @include breakpoint('tablet') {
          height: 400px;
        }

        &.value-01 {
          background: transparent url('../img/value-01@2x.png') center center no-repeat;
          background-size: cover;
        }

        &.value-02 {
          background: transparent url('../img/value-02@2x.png') center center no-repeat;
          background-size: cover;
        }

        &.value-03 {
          background: transparent url('../img/value-03@2x.png') center center no-repeat;
          background-size: cover;
        }
      }

      .value-title {
        color: white;
        position: absolute;
        top: 98px;
        left: 15px;
        font-size: 22px;  
        text-shadow: 0px 1px 3px rgba(0,0,0, 0.6);

        @include breakpoint('tablet') {
          font-size: 26px;  
          color: map-get($colors, green-light );
          text-shadow: none;
          position: relative;
          left:0;
          top:0;
          padding: 35px 35px 0;
        }
      }

      .value-description {
        line-height: 1.5;
        padding: 15px;
        font-size: 14px;

        @include breakpoint('tablet') { 
          padding: 10px 35px 35px;
          font-size: 16px;
        }
      }
    }
  }

  // ----------------- Dónde estamos

  .where-section {
    background: map-get($colors, grey-dark);
    color: white;
    padding: 5px 0 0;

    @include breakpoint('tablet') {
      color: map-get($colors, grey-dark);
      background: transparent;
    }

    .container {
      padding-bottom: 45px;
      padding-top: 25px;

      @include breakpoint('tablet') {
        padding-bottom: 50px;
        padding-top: 0;
      }
    }

    .section-title {
      padding: 0 0 25px;
  
      @include breakpoint('tablet') {
        padding: 90px 30px 60px;
      }

      .description {
        display: block;
  
        @include breakpoint('tablet') {
          display: none;
        }
      }
    }

    .where-map {
      width: 100%;
      margin: 15px 0;
    }

    .desktop-map {
      display: none;

      @include breakpoint('tablet') {
        display: block;
        margin-bottom: 0;
      }
    }

    .mobile-map {
      display: block;

      @include breakpoint('tablet') {
        display: none;

      } 
    }

    .where-description-container {
      position: relative;
      text-align: center;

      @include breakpoint('tablet') {
        text-align: left;
      }

      .line {
        position: absolute;
        left: 50%;
        width: 2px;
        height: 100%;
        background: map-get($colors, green-light);
      }
    }

    .description-item {
      width: 50%;
      padding: 0 18px;
      float: left;

      @include breakpoint('tablet') {
        padding: 0 85px;
      }

      .country {
        font-size: 16px;
        color: map-get($colors, green-light);

        @include breakpoint('tablet') {
          font-size: 22px;
        }  
      }
      .street {
        font-size: 14px;
        line-height: 1.5;
        margin-top: 10px;
      }
    }
  }


  // ----------------- Contactenos

  .contact-section {

    
    .section-title {
      padding-bottom: 0px;
  
      @include breakpoint('tablet') {
        padding-bottom: 10px;
      }

      .description {
        display: block;
  
        @include breakpoint('tablet') {
          display: none;
        }
      }
    }

    .container-inputs {
      float: none;
      width: 100%;
      padding-right: 0;
  
      @include breakpoint('tablet') {
        float: left;
        width: 50%;
        padding-right: 8px;
      }
    }

    .container-textarea {
      float: none;
      width: 100%;
      padding-left: 0;
  
      @include breakpoint('tablet') {
        float: right;
        width: 50%;
        padding-left: 8px;
      }
    }

    textarea {
      height: 190px;
      width: 100%;
      max-width: 100%;
      max-height: 190px;
      min-width: 100%;
      min-height: 190px;
  
      @include breakpoint('tablet') {
        max-width: 100%;
        min-height: 243px;
        min-width: 100%;
        min-height: 243px;
      }
    }

    .btn-send {
      max-width: 100%;
      margin: 25px 0;
  
      @include breakpoint('tablet') {
        max-width: 320px;
        min-width: 300px;
        margin: 55px auto 0;
        
      }
    }
  }
}