.container-contact {
  
  .form-container{
    width: 50%;
    float: left;
    margin-top: 0;

    &:first-child {
      padding-right: 5px;
    }
    &:last-child {
      padding-left: 5px;
    }
  }
}

#map-canvas, #map-canvas1 {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map-container {
  height: 160px;

  @include breakpoint('tablet') {
    height: 300px;
    padding: 0 20px;
  }
}