.select-vehicle-slider {
  text-align: center;
  padding: 0;
  margin: 0;

  @include breakpoint('desktop') {
    text-align: left;
    padding: 50px 0;
  }

  .btn-zoom {
    @include horizontal-align;
    z-index: 10;
    width: 50px;
    top: 165px;

  }

  .section-title {
    color: map-get($colors, green-light);
    text-align: left;
    display: inherit;
    padding: 0;

    h2 {
      margin-bottom: -25px;
      
      &:after {
        background: map-get($colors, green-light);
      }
    }
  }

  .btn-instruction {
    margin: 60px auto 0;
    max-width: 300px;
    color: map-get($colors, green-light);
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 28px;
    border: 1px solid map-get($colors, green-light);
    padding: 15px 40px;
    width: 100%;
    cursor: pointer;
    display: block;
    @include transition(background 0.3s ease-in-out, color 0.3s ease-in-out);

    &:before {
      display: block;
      content: 'Seleccionar';
    }
    
    @include breakpoint('desktop') {
      display: block;
    }
  }

  .item-option {
    position: relative;

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      height: 100%;
      width: 94%;
      left: 0;
      z-index: 2;

      @include breakpoint('desktop') {
        width: 100%;
      }
      
      &:checked + label {

        .btn-instruction {
          background: map-get($colors, green-light);
          color: white;

          &:before {
            content: 'Seleccionado';
          }
        }
      }
    }
  }

  .vehicle-description {
    color: rgba(0,0,0, 0.6);
  }

  .image-vehicle {
    margin: 25px auto;
    width: 265px;
    height: 235px;
    padding: 25px;
    background: #EFEFEF;
    position: relative;

    @include breakpoint('desktop') {
      margin: 25px auto 0;
      background: white;
      width: 100%;
    }

    .picture {
      @include vertical-align;
      width: 80%;
      margin: 0;

      @include breakpoint('desktop') {
        position: relative;
        top: 15px;
        transform: none;
        margin: 0 auto;
      }
    }

    .price {
      text-align: center;
      font-size: 30px;
      color: map-get($colors, green-dark);
      height: 85px;
      width: 85px;
      border-radius: 50%;
      background: map-get($colors, green-light);
      position: absolute;
      bottom: -42.5px;
      top: auto;
      left: 50%;
      line-height: 2.7;

      @include breakpoint('desktop') {
        top: -70px;
        bottom: auto;
        right: 0;
        left: auto;
      }

    }
  }

  .vehicle-features {
    width: 300px;
    margin: 35px auto 0;
    padding: 0;
    background: transparent;

    @include breakpoint('desktop') {
      margin: 0;
      padding: 25px 0;
      width: 100%;
      background: map-get($colors, green-dark);
    }
    
    .feature-item {
      width: 50%;
      float: left;
      margin: 10px 0 0;
      text-align: center;
      border: none;

      @include breakpoint('desktop') {
        margin: 0;
        width: 33.3%;
        border-right: 1px solid map-get($colors, green-light);

        &:last-child {
          border-right: none;
        }
      }
      
      .item-title {
        color: map-get($colors, green-dark);
        font-family: 'Quicksand';
        font-size: 12px;
        font-weight: 600;
        line-height: 2.5;

        @include breakpoint('desktop') {
          color: white;
        }
      }
      
      .item-description {
        font-size: 16px;
        font-weight: 200;  
        color: map-get($colors, grey-dark);

        @include breakpoint('desktop') {
          color: white;
        }
      }
    }
  }

  .mobile {
    display: block;
  
    @include breakpoint('desktop') {
      display: none;
    }
  }
  
  .dekstop {
    display: none;
  
    @include breakpoint('desktop'){
      display: block;
    }
  }
}

.select-vehicle-slider-nav {
  background: white;
  display:block;
  position: fixed;
  width: 320px;
  bottom: 15px;
  left: 50%;
  @include transform(translateX(-50%));

  @include breakpoint('desktop') {
    bottom: 100px;
  }

  .slick-track {
    @include transform(translate3d(0px, 0px, 0px) !important);
  }

  a {
    padding: 18px;
    display: inline-block;
    transition: color .3s ease-in-out;
    font-weight: 600;
    height: 60px;
    border-bottom: 1px solid #BCBCBB;
    @include transition(margin 0.3s ease-in-out, filter 0.3s ease-in-out, border-color 0.3s ease-in-out);
    

    img {
      filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
    }
    
    &.slick-current {
      margin-top: -10px;
      border-bottom: 1px solid map-get($colors, green-light );

      img {
        filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
      }
    }
  }
}