extends layout/main

block bodyClass
  - bodyClasses.push('charging-data-page')

block content
  .charging-header
    .container
      ul.header-steps.clearfix
        li.header-steps-item
          a(href="charging-data-01.html") 01
        li.header-steps-item
          a(href="charging-data-02.html") 02
        li.header-steps-item
          a.current(href="charging-data-03.html") 03
        li.header-steps-item
          a(href="charging-data-04.html") 04

      .charging-summary
        .summary-menu.clearfix
          .summary-price-model
            span.price 35€
            span /
            span.model F500
          a.btn-summary.btn-dropdown(href="#", data-dropdown="summary-dropdown")
            | Ver Resumen 
            span.icon.icon-arrow-down

        ul.summary-details.dropdown#summary-dropdown
          li.detail.detail-vehicle
            img.icon-vehicle(src='./img/icon-van-00.svg', alt='Van')
            | F/500
          li.detail.detail-place
            img.icon-place(src='./img/icon-place.svg', alt='Van')
            .from Carrer de Pere IV, 51, 08018
            .to Avenida Meridiana, 131, 08028
          li.detail.detail-contact
            span.icon.icon-user
            | Andrea
          li.detail.detail-time.clearfix
            .date
              span.icon.icon-calendar
              | 17/03/2018
            .hour
              span.icon.icon-clock
              | 11:15

  section.charging-data
    .container
      .charging-data-title.data-title-fixed
        h2 ¿Qué día recogemos el envío?
      .btn-select.btn-select-date.btn-overlay(data-overlay="overlay-date")
        .icon.icon-calendar
        span.date Fecha
      
      .charging-data-title
        h2 A que hora recogemos el envío?
      .btn-select.btn-select-time.btn-overlay(data-overlay="overlay-date")
        .icon.icon-clock
        span.time hora

    .charging-data-nav
      a.prev(href="charging-data-02.html") 
        span.icon-arrow-left
        span  02
      a.next(href="charging-data-04.html")
        span 04
        span.icon-arrow-right
    
    .overlay#overlay-date
      include select-date

block js
  script(src="./js/menu.js")
  script(src="./js/overlay.js")
  script(src="./js/dropdown.js")
  script(src="./js/date-picker.js")
  script(src="./bower_components/moment/moment.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
  script(src="./bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
  script(src="./js/date-picker.js")
  link(rel="stylesheet", href="./bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")

