extends layout/main

block bodyClass
  - bodyClasses.push('charging-data-page')

block content
  .charging-header
    .container
      ul.header-steps.clearfix
        li.header-steps-item
          a.current(href="charging-data-01.html") 01
        li.header-steps-item
          a(href="charging-data-02.html") 02
        li.header-steps-item
          a(href="charging-data-03.html") 03
        li.header-steps-item
          a(href="charging-data-04.html") 04

      include charging-summary

    .data-title-desktop
      .container
        h2 ¿Qué vehículo necesitas?

  section.charging-data
    .container.container-charging-data
      .charging-data-content
        .charging-data-title
          h2 ¿Qué vehículo necesitas?
        .btn-vehicle.btn-overlay(data-overlay='overlay-vehicle')
          .btn-vehicle-column
            img.icon-vehicle(src='./img/icon-van-01.svg', alt='Van')
            .vehicle-name F/500
            .vehicle-details 2mts x 3mts<br>500kg 

          .btn-vehicle-column
            .vehicle-price 35€
            .vehicle-action CAMBIAR<br>VEHÍCULO

      .charging-data-nav
        a.next(href="charging-data-02.html")
          span 02
          span.icon-arrow-right

    .overlay#overlay-vehicle
      include select-vehicle

block js
  script(src="./js/menu.js")
  script(src="./js/dropdown.js")
  script(src="./js/overlay.js")
  script(src="./bower_components/slick-carousel/slick/slick.min.js")
  script(src="./js/slider-vehicle.js")