extends layout/main

block bodyClass
  - bodyClasses.push('charging-data-page')

block content
  .charging-header
    .container
      ul.header-steps.clearfix
        li.header-steps-item
          a.current(href="charging-data-01.html") 01
        li.header-steps-item
          a(href="charging-data-02.html") 02
        li.header-steps-item
          a(href="charging-data-03.html") 03
        li.header-steps-item
          a(href="charging-data-04.html") 04

      include charging-summary

    .data-title-desktop
      .container
        h2 ¿Qué vehículo necesitas?

  section.charging-data
          
    .container.container-charging-data.clearfix
      .select-vehicle-section
        .charging-data-title
          h2 ¿Qué vehículo necesitas?
    .container.charging-vehicle
      form.form-vehicle
        ul.select-vehicle-slider
          li.item-option
            input(type="radio", name="vehicle", value="1", id="vehicle1", checked)
            label(for="vehicle1")
              a.btn-zoom(href="../img/vehicle-v1-horizontal@3x.png", target="_blank")
                img(src="../img/icon-zoom.svg", alt="Zoom")
              .section-title
                h2.title F/500
              .image-vehicle
                img.picture.desktop(src="../img/vehicle-v1-horizontal@3x.png", alt="F/500")
                img.picture.mobile(src="../img/vehicle-v1@3x.png", alt="F/500")
                .price 35€
              .vehicle-features.clearfix
                .feature-item
                  .item-title Capacidad
                  .item-description 1 palet EU
                .feature-item
                  .item-title Paso de rueda
                  .item-description 1,25m
                .feature-item
                  .item-title Carga útil
                  .item-description 500kg
            
              .btn-instruction

          li.item-option
            input(type="radio", name="vehicle", value="2", id="vehicle2")
            label(for="vehicle2")
              a.btn-zoom(href="../img/vehicle-v1-horizontal@3x.png", target="_blank")
                img(src="../img/icon-zoom.svg", alt="Zoom")
              .section-title
                h2.title F/1500
              .image-vehicle
                img.picture.desktop(src="../img/vehicle-v1-horizontal@3x.png", alt="F/500")
                img.picture.mobile(src="../img/vehicle-v1@3x.png", alt="F/500")
                .price 45€
              .vehicle-features.clearfix
                .feature-item
                  .item-title Capacidad
                  .item-description 1 palet EU
                .feature-item
                  .item-title Paso de rueda
                  .item-description 1,25m
                .feature-item
                  .item-title Carga útil
                  .item-description 500kg
            
              .btn-instruction

          li.item-option

            input(type="radio", name="vehicle", value="3", id="vehicle3")
            label(for="vehicle3")
              a.btn-zoom(href="../img/vehicle-v1-horizontal@3x.png", target="_blank")
                img(src="../img/icon-zoom.svg", alt="Zoom")
              .section-title
                h2.title Carrozado
              .image-vehicle
                img.picture.desktop(src="../img/vehicle-v1-horizontal@3x.png", alt="F/500")
                img.picture.mobile(src="../img/vehicle-v1@3x.png", alt="F/500")
                .price 65€
              .vehicle-features.clearfix
                .feature-item
                  .item-title Capacidad
                  .item-description 1 palet EU
                .feature-item
                  .item-title Paso de rueda
                  .item-description 1,25m
                .feature-item
                  .item-title Carga útil
                  .item-description 500kg
            
              .btn-instruction

                  
        .select-vehicle-slider-nav
          a(hred="#")
            img(src="../img/icon-van-00.svg", alt="F/500")
          a(hred="#")
            img(src="../img/icon-van-02.svg", alt="F/500")
          a(hred="#")
            img(src="../img/icon-van-03.svg", alt="F/500")  

    .container.container-charging-data
      .charging-data-nav
        a.next(href="charging-data-02.html")
          span Siguiente
          span.icon.icon-arrow-right

    .overlay#overlay-vehicle
      include select-vehicle

block js
  script(src="./js/menu.js")
  script(src="./js/dropdown.js")
  script(src="./js/overlay.js")
  script(src="./bower_components/slick-carousel/slick/slick.min.js")
  script(src="./js/slider-vehicle.js")