extends layout/main

block bodyClass
  - bodyClasses.push('charging-data-page')

block content
  .charging-header
    .container
      ul.header-steps.clearfix
        li.header-steps-item
          a(href="charging-data-01.html") 01
        li.header-steps-item
          a.current(href="charging-data-02.html") 02
        li.header-steps-item
          a(href="charging-data-03.html") 03
        li.header-steps-item
          a(href="charging-data-04.html") 04

      include charging-summary
    
    .data-title-desktop
      .container
        h2 ¿Dónde tenemos que ir?
      
  section.charging-data
    .container.container-charging-data
      .charging-data-content
        .charging-data-title
          h2 ¿Dónde recogemos la mercancía?
        .form-container.input-complete-check
          .form-btn.btn-overlay(data-overlay="overlay-select-from")
          input( id='select-from', placeholder='Dónde recogemos tu envío')
          span.form-icon.icon-house
        .contact-people.from
          span.item-name Contacto:
          span.item-contact Nadie aún.
          
        .charging-data-title
          h2 ¿Dónde enviamos la mercancía?
        .form-container.input-complete-check
          .form-btn.btn-overlay(data-overlay="overlay-select-to")
          input( id='select-to', placeholder='Dónde recogemos tu envío', readonly)
          span.form-icon.icon-box
        .contact-people.to
          span.item-name Contacto:
          span.item-contact Nadie aún.
      
      .charging-data-nav
        a.prev(href="charging-data-01.html") 
          span.icon.icon-arrow-left
          span  Anterior
        a.next(href="charging-data-03.html")
          span Siguiente
          span.icon.icon-arrow-right

      .contact-us-fixed
        img.icon-telephone(src='./img/icon-telephone-white.svg', alt='900 876 456')
        .contact-us-description ¿Tienes dudas?
        .contact-us-telephone 900 876 456

    .overlay#overlay-select-from
      include select-address-from
    .overlay#overlay-select-to
      include select-address-to

block js
  script(src="./js/menu.js")
  script(src="./js/overlay.js")
  script(src="./js/dropdown.js")
  script(src="./js/address.js")
  script(src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCku4v2la7HjsiNn3FqCNtuhm3xnYcocLw")
  script(src="./js/maps.js")