extends layout/main

block bodyClass
  - bodyClasses.push('charging-data-page')

block content
  .charging-header
    .container
      ul.header-steps.clearfix
        li.header-steps-item
          a(href="charging-data-01.html") 01
        li.header-steps-item
          a(href="charging-data-02.html") 02
        li.header-steps-item
          a.current(href="charging-data-03.html") 03
        li.header-steps-item
          a(href="charging-data-04.html") 04

      include charging-summary

    .data-title-desktop
      .container
        h2 ¿Cuándo realizamos el servicio?

  section.charging-data
    .container.container-charging-data
      .charging-data-content
        .charging-data-title
          h2 ¿Qué día recogemos el envío?
        .form-container.input-complete-check
          .form-btn.btn-overlay(data-overlay="overlay-date")
          input(id='select-date', placeholder='Fecha', required)
          span.form-icon.icon-calendar
          
        .charging-data-title
          h2 A que hora recogemos el envío?
        .form-container.input-complete-check
          .form-btn.btn-overlay(data-overlay="overlay-date")
          input(id='select-time', placeholder='Hora', required)
          span.form-icon.icon-clock

    .charging-data-nav  
      .container.clearfix
        a.prev(href="charging-data-02.html") 
          span.icon.icon-arrow-left
          span  Anterior
        a.next(href="charging-data-04.html")
          span Siguiente
          span.icon.icon-arrow-right
    
    .overlay#overlay-date
      include select-date

block js
  script(src="./js/menu.js")
  script(src="./js/overlay.js")
  script(src="./js/dropdown.js")
  script(src="./js/date-picker.js")
  script(src="./bower_components/moment/moment.js")
  script(src="./bower_components/moment/locale/es.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
  script(src="./bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
  script(src="./js/date-picker.js")
  link(rel="stylesheet", href="./bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")

