extends layout/main

block bodyClass
  - bodyClasses.push('landing-page')

block content
  section.send-something-section
    .container.clearfix
      h1 ¿Un transporte puerta a puerta? ¿Inmediato? <strong>Nosotros nos encargamos</strong>

      form.send-something-form(name='main-form')
        .form-container.input-complete-check
          input.elipsis( id='select-from', placeholder='Dónde recogemos tu envío', required)
          span.form-icon.icon-house

        .form-container.input-complete-check
          input.elipsis( id='select-to', placeholder='Dónde entregamos tu envío', required)
          span.form-icon.icon-box
        
        .vehicle
          h4.text-center Qué vehículo necesitas
          .btn-vehicle.btn-overlay(data-overlay='overlay-vehicle')
            .btn-vehicle-column
              img.icon-vehicle(src='./img/icon-van-01.svg', alt='Van')
              .vehicle-btn-details
                .vehicle-name F/500

            .btn-vehicle-column
              .vehicle-price 35€
              .vehicle-action CAMBIAR<br>VEHÍCULO
          
        button.btn.btn-ghost.btn-purchase Contratar

        .call-us
          img.icon-telephone(src='./img/icon-telephone-white.svg', alt='900 876 456')
          span.call-us-brief Si tienes dudas 900 876 456

  section.steps-section
    .container
      .steps-container
        .mobile-line
        .step
          img.step-image.step-time(src='./img/time.svg', alt='Entrega puntual')
          .step-description
            h2 Entrega<br>puntual
            p Lorem ipsum dolor sit  nibh, consectet adipiscix nonummy
        .step
          img.step-image(src='./img/value.svg', alt='Precio cerrado')
          .step-description
            h2 Precio<br>cerrado
            p Lorem ipsum dolor sit  nibh, consectet adipiscix nonummy
        .step
          img.step-image(src='./img/shield.svg', alt='Seguro mercancías')
          .step-description
            h2 Seguro<br>mercancías
            p Lorem ipsum dolor sit  nibh, consectet adipiscix nonummy
        .step
          img.step-image(src='./img/vehicles.svg', alt='+1000 vehículos')
          .step-description
            h2 Más de 1000<br>vehículos
            p Lorem ipsum dolor sit  nibh, consectet adipiscix nonummy

  section.video-section
    .section-title
      h2.title Por qué Wecargo
    a.video-banner(href="https://player.vimeo.com/video/240463021?1&color=73848B&title=0&byline=0&portrait=0")
      img.video-image.mobile(src='./img/video-banner-mobile@2x.png', alt='Por qué Wecargo')
      img.video-image.tablet(src='./img/video-banner-desktop@2x.png', alt='Por qué Wecargo')
      img.video-image.desktop(src='./img/video-banner-desktop@2x.png', alt='Por qué Wecargo')
  
  section.values-section
    .section-title
      h2.title Qué nos diferencia
    .values-container
      .value
        .value-image.value-01
        h3.value-title Valor 1
        p.value-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh. Euismod tincidunt.
      .value
        .value-image.value-02
        h3.value-title Valor 2
        p.value-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh. Euismod tincidunt.
      .value
        .value-image.value-03
        h3.value-title Valor 3
        p.value-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh. Euismod tincidunt.
  
  section.where-section

    .section-title
      h2.title Dónde estamos
      p.description Lorem ipsum dolor sit amet, consectetuer,<br>.sed diam nonummy nibh
    img.where-map.mobile-map(src='./img/map-mobile@2x.png', alt='Donde estamos')
  
    .container
      .where-description-container.clearfix
        .line
        .description-item
          .country Madrid
          .street Calle Menéndez Pelayo, 1 56783, La latina
        .description-item
          .country Barcelona
          .street Calle Menéndez Pelayo, 1 56783, La latina

    img.where-map.desktop-map(src='./img/map-desktop@2x.png', alt='Donde estamos')

  
  section.contact-section#contact

    .section-title
      h2.title Contacta con nosotros
      p.description Lorem ipsum dolor sit amet, consectetuer,<br>.sed diam nonummy nibh

    .container
      form.contact-form(name='contact-form')
        .clearfix
          .container-inputs
            .form-container
              input(id='name', placeholder='Nombre y apellidos')
              span.form-icon.icon-user
            .form-container
              input(id='telephone', placeholder='Teléfono')
              span.form-icon.icon-phone
            .form-container
              input(id='email', placeholder='Email')
              span.form-icon.icon-email
          .form-container.container-textarea
            textarea(id='contact-mesage', placeholder='Haznos tu consulta')
            span.form-icon.icon-note

        button.btn.btn-send Enviar

  .overlay#overlay-vehicle
    include select-vehicle

block js
  script(src="./js/menu.js")
  script(src="./js/overlay.js")
  script(src="./bower_components/slick-carousel/slick/slick.min.js")
  script(src="./bower_components/magnific-popup/dist/jquery.magnific-popup.min.js")
  script(src="./js/video.js")
  script(src="./js/slider-vehicle.js")