a.icon-cross.close-overlay(onclick="closeOverlay(this); buttonVehicleData();")
.overlay-container.select-vehicle-section
  form
    ul.select-vehicle-slider
      li.item-option
        input(type="radio", name="vehicle", value="1", id="vehicle1", checked)
        label(for="vehicle1")
          a.btn-zoom(href="../img/vehicle-v1-horizontal@3x.png", target="_blank")
            img(src="../img/icon-zoom.svg", alt="Zoom")
          .section-title
            h2.title F/500
          .image-vehicle
            img.picture.desktop(src="../img/vehicle-v1-horizontal@3x.png", alt="F/500")
            img.picture.mobile(src="../img/vehicle-v1@3x.png", alt="F/500")
            .price 35€
          .vehicle-features.clearfix
            .feature-item
              .item-title Capacidad
              .item-description 1 palet EU
            .feature-item
              .item-title Paso de rueda
              .item-description 1,25m
            .feature-item
              .item-title Carga útil
              .item-description 500kg
        
          .btn-instruction

      li.item-option
        input(type="radio", name="vehicle", value="2", id="vehicle2")
        label(for="vehicle2")
          a.btn-zoom(href="../img/vehicle-v1-horizontal@3x.png", target="_blank")
            img(src="../img/icon-zoom.svg", alt="Zoom")
          .section-title
            h2.title F/1500
          .image-vehicle
            img.picture.desktop(src="../img/vehicle-v1-horizontal@3x.png", alt="F/500")
            img.picture.mobile(src="../img/vehicle-v1@3x.png", alt="F/500")
            .price 45€
          .vehicle-features.clearfix
            .feature-item
              .item-title Capacidad
              .item-description 1 palet EU
            .feature-item
              .item-title Paso de rueda
              .item-description 1,25m
            .feature-item
              .item-title Carga útil
              .item-description 500kg
        
          .btn-instruction

      li.item-option

        input(type="radio", name="vehicle", value="3", id="vehicle3")
        label(for="vehicle3")
          a.btn-zoom(href="../img/vehicle-v1-horizontal@3x.png", target="_blank")
            img(src="../img/icon-zoom.svg", alt="Zoom")
          .section-title
            h2.title Carrozado
          .image-vehicle
            img.picture.desktop(src="../img/vehicle-v1-horizontal@3x.png", alt="F/500")
            img.picture.mobile(src="../img/vehicle-v1@3x.png", alt="F/500")
            .price 65€
          .vehicle-features.clearfix
            .feature-item
              .item-title Capacidad
              .item-description 1 palet EU
            .feature-item
              .item-title Paso de rueda
              .item-description 1,25m
            .feature-item
              .item-title Carga útil
              .item-description 500kg
        
          .btn-instruction

              
    .select-vehicle-slider-nav
      a(hred="#")
        img(src="../img/icon-van-00.svg", alt="F/500")
      a(hred="#")
        img(src="../img/icon-van-02.svg", alt="F/500")
      a(hred="#")
        img(src="../img/icon-van-03.svg", alt="F/500")  