a.icon-cross.close-overlay(onclick="closeOverlay(this);")
.overlay-container.special-needs
  .container
    .charging-data-title
      h2 ¿Tienes alguna necesidad especial?
    ul.special-list
      li.item-special
        span.icon.icon-hand-up
        span.description Item description
      li.item-special
        span.icon.icon-hand-up
        span.description Item description
      li.item-special
        span.icon.icon-hand-up
        span.description Item description
      li.item-special
        span.icon.icon-hand-up
        span.description Item description
      li.item-special
        span.icon.icon-hand-up
        span.description Item description
    
    .phone
      span 
        img.image-phone(src="./img/icon-telephone-white.svg", alt="Si tienes dudas 900 876 456")
      span Si tienes dudas 900 876 456

    a.btn.btn-pay(href="review.html") Pagar