a.icon-cross.close-overlay(onclick="saveDate(); closeOverlay(this);")
  
.select-date-section
  .container
    .charging-data-title
      h2 ¿Qué día recogemos el envío?
    .date-container
      .date#datetimepicker

    .charging-data-title
      h2 A que hora recogemos el envío?
    .time-container
      .time#datetimepicker2
        
a.btn-check(onclick="saveDate(); closeOverlay(this);")