.select-vehicle-section
  .container
    form
      ul.select-vehicle-slider
        li.item-option
          input(type="radio", name="vehicle", value="")
          h2.vehicle-title F/500
          p.vehicle-description 2mts x 3mts 500kg
          .image-vehicle
            .icon-check
            img(src="", alt="")
            .price 35€
          .vehicle-features
            .feature-item
              .item-title Capacidad
              .item-description 1 palet EU
            .feature-item
              .item-title Paso de rueda
              .item-description 1,25m
            .feature-item
              .item-title Carga útil
              .item-description 500kg
            .feature-item
              .item-title Capacidad cúbica
              .item-description De 3 a 5m3

        li.item-option
          input(type="radio", name="vehicle", value="")
          h2.vehicle-title F/500
          p.vehicle-description 2mts x 3mts 500kg
          .image-vehicle
            .icon-check
            img(src="", alt="")
            .price 35€
          .vehicle-features
            .feature-item
              .item-title Capacidad
              .item-description 1 palet EU
            .feature-item
              .item-title Paso de rueda
              .item-description 1,25m
            .feature-item
              .item-title Carga útil
              .item-description 500kg
            .feature-item
              .item-title Capacidad cúbica
              .item-description De 3 a 5m3

        li.item-option
          input(type="radio", name="vehicle", value="")
          h2.vehicle-title F/500
          p.vehicle-description 2mts x 3mts 500kg
          .image-vehicle
            .icon-check
            img(src="", alt="")
            .price 35€
          .vehicle-features
            .feature-item
              .item-title Capacidad
              .item-description 1 palet EU
            .feature-item
              .item-title Paso de rueda
              .item-description 1,25m
            .feature-item
              .item-title Carga útil
              .item-description 500kg
            .feature-item
              .item-title Capacidad cúbica
              .item-description De 3 a 5m3

        li.item-option
          input(type="radio", name="vehicle", value="")
          h2.vehicle-title F/500
          p.vehicle-description 2mts x 3mts 500kg
          .image-vehicle
            .icon-check
            img(src="", alt="")
            .price 35€
          .vehicle-features
            .feature-item
              .item-title Capacidad
              .item-description 1 palet EU
            .feature-item
              .item-title Paso de rueda
              .item-description 1,25m
            .feature-item
              .item-title Carga útil
              .item-description 500kg
            .feature-item
              .item-title Capacidad cúbica
              .item-description De 3 a 5m3