.header {
  background: map-get( $colors, black);
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1;

  .header-company-logo {
    width: 126px;
    float: left;
    margin-top: 0;
    position: relative;
    z-index: 1;

    @include breakpoint('desktop') {
      margin-top: 12px;
      width: 172px;
    }
  }
}